

@import url('https://fonts.googleapis.com/css2?family=Coda+Caption&family=Noto+Sans:wght@500&family=Noto+Serif+HK:wght@900&family=Rubik+Bubbles&display=swap');

a{
  font-family: 'Coda Caption', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Serif HK', serif;
  font-family: 'Rubik Bubbles', cursive;
}
